.donate-form {
  background: $white;
  text-align: left;
  padding: 20px 10px;

  @include breakpoint(medium) {
    padding: 40px 30px;
  }

  @include breakpoint(large) {
    padding: 40px 60px;
  }

  .title {
    color: $color-donate;
  }
}

.donate-steps {
  max-width: 600px;
  padding: 0;
  margin: 0;
  list-style: inside none;

  li {
    margin: 0;
    position: relative;
    padding: 16px 20px 0 40px;
  }
}

.donate-no {
  font-size: 32px;
  font-weight: 500;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.input-donate {
  margin-bottom: 20px;

  [type=checkbox],
  [type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;

    &:checked {
      & + label {
        background: $color-donate;
        color: $white;
      }
    }
  }

  [type=checkbox] + label,
  [type=radio] + label {
    margin: 0;
    display: block;
    border: 1px solid $color-donate;
    color: $color-donate;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 40px;

    @include breakpoint(medium) {
      line-height: 60px;
    }

    @include breakpoint(large) {
      font-size: 20px;
    }
  }

  &.is-custom {
    position: relative;
    border: 1px solid $color-donate;

    [type=number] {
      margin: 0;
      border: none;
      text-align: center;
      color: $color-donate;
      font-size: 18px;
      font-weight: 700;
      padding-right: 30px;

      @include breakpoint(medium) {
        height: 60px;
      }

      @include breakpoint(large) {
        font-size: 20px;
      }

      &:focus {
        outline: none;
        box-shadow: none;
        background: $color-donate;
        color: $white;

        + label {
          color: $white;
        }
      }
    }

    label {
      position: absolute;
      top: 0;
      right: 20px;
      color: $color-donate;
      font-size: 18px;
      font-weight: 700;
      line-height: 40px;

      @include breakpoint(medium) {
        line-height: 60px;
        right: 10px;
      }

      @include breakpoint(large) {
        font-size: 18px;
      }
    }
  }
}

.donate-fields {
  margin-bottom: 20px;

  @include breakpoint(medium) {
    margin: 0;
  }

  .button {
    width: 100%;
    margin: 0;
    height: 60px;
    padding: 0;
    font-size: 20px;

    @include breakpoint(medium) {
      font-size: 24px;
    }
  }

  [type=text] {
    font-size: 18px;
    font-weight: 700;

    @include breakpoint(medium) {
      line-height: 60px;
      height: 60px;
      font-size: 20px;
    }
  }
}

.donate-help {
  font-size: 14px;
  margin: 0;
}

.block-donate {
  background: rgba(lighten($color-donate, 10), .8);
  padding: 0 0 40px;

  a.donate-cta {
    color: $white;
    white-space: nowrap;
    margin-left: -26px;

    &:after {
      background: $white;
    }

    &:hover,
    &:focus {
      color: $white;

      &:after {
        background: $white;
      }
    }
  }

  .actions {
    text-align: left;

    @include breakpoint(medium) {
      text-align: center;
    }

    a.donate-cta {
      @include breakpoint(medium) {
        margin: 0;
      }
    }
  }
}

.donate {
  margin-bottom: 40px;

  h2 {
    color: $color-donate;
    margin-bottom: 41px;
  }
}

.donate-copy {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}

.donate-option {
  > img {
    height: 30px;
  }

  .img-button {
    height: 70px;
  }
}

.donate-info {
  img {
    height: 30px;
    width: auto;
    margin-bottom: 20px;
    display: block;
  }
}

.dontate-intro {
  margin-bottom: 30px;
}

.donate-action {
  .block & {
    font-size: 26px;
    margin: 0;
  }

  span {
    display: inline-block;
  }

  .button {
    padding: 0 5px;
    margin: 0;
    line-height: 1;
    display: inline;
    top: -3px;

    &:after {
      bottom: -2px;
      left: 5px;
      right: 5px;
    }
  }
}

.donate {
  background: $white;
}
