.form-item  {
  text-align: left;
  display: inline-block;

  .checkbox {
    &:checked {
      + label {
        background: $black;
        color: $white;
      }
    }
  }
}

.filter-checkbox {
  display: inline-block;
  padding: 18px 22px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  line-height: 1.17;
}