.form-item  {
  text-align: left;
  display: inline-block;
  padding: 0;

  .checkbox {
    + label {
      background: $black;
      color: $white;
      margin: 0;

      @include breakpoint(large) {
        white-space: nowrap;
      }
    }

    &:checked {
      + .proiecte_finalizate-class {
        background: $color-complete;
      }

      + .proiecte_in_desfasurare-class {
        background: $color-wip;
        color: $black;
      }

      + .proiect_cu_nevoie_de_voluntari-class {
        background: $color-need;
        color: $black;
      }

      + .proiect_propus-class {
        background: $color-option;
        color: $black;
      }
    }
  }
}

.filter-checkbox {
  display: inline-block;
  padding: 14px 18px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  line-height: 1.17;
}