label {
  .reveal & {
    color: $white;
  }
}

div.wpcf7-validation-errors {
  background: #f7e700;
  color: $black;
  font-size: 18px;
  border: none;
  color: $black;
  padding: 15px;
  margin: 30px 0;
}

div.wpcf7-mail-sent-ok {
  background: #398f14;
  border: 0;
  color: $white;
  font-size: 18px;
  padding: 15px;
  margin: 30px 0;
}

.form-item  {
  text-align: left;
  display: inline-block;

  .checkbox {
    + label {
      background: lighten($black, 90);
      color: lighten($black, 60);
      margin: 0;

      .material-icons {
        display: inline-block;
        position: relative;
        top: 5px;
        margin-right: 5px;
      }

      .checked {
        display: none;
      }

      @include breakpoint(large) {
        white-space: nowrap;
      }
    }

    &:checked {
      + label {
        .material-icons {
          display: none;
        }

        .checked {
          display: inline-block;
        }
      }

      + .proiecte_finalizate-class {
        background: $color-complete;
        color: $white;
      }

      + .proiecte_in_desfasurare-class {
        background: $color-wip;
        color: $white;
      }

      + .proiect_cu_nevoie_de_voluntari-class {
        background: $color-need;
        color: $white;
      }

      + .proiect_propus-class {
        background: $color-option;
        color: $white;
      }
    }
  }
}

.filter-checkbox {
  display: inline-block;
  padding: 14px 18px 18px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  line-height: 1.17;
}