.hero {
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;

  @include breakpoint(large) {
    margin: 0;
    padding: 0;
  }
}

.hero-content {
  position: relative;
  margin: 0 auto;
  z-index: $index-hero;
  padding-top: 30px;

  .title {
    text-align: center;
    margin-bottom: 20px;

    @include breakpoint(large) {
      font-size: 58px;
    }

    .block-hello &,
    .block-donate & {
      text-align: left;
    }
  }

  p {
    .block-hello & {
      @include breakpoint(medium) {
        font-size: 18px;
      }
    }
  }
}

.hero-media {
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: $index-media;
  opacity: .4;

  @include breakpoint(medium) {
    opacity: 1;
    top: 0;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }
}