.overlay-nav {
  .nav {
    float: none;
    height: 100vh;
  }

  .menu {
    li.menu-item {
      text-align: center;
      margin: 15px 0;
      display: block;

      > a {
        color: $white;
        padding: 15px;
        font-size: 32px;
        width: auto;
        display: inline-block;

        &::after {
          background: $white;
        }

        &:hover,
        &.current-menu-item {
          color: $white;

          &::after {
            background: transparent;
          }
        }
      }
    }
  }
}

.reveal {
  padding: 0;
  background: rgba($black, 0.75);
}

.close-button {
  color: $white;
  right: 20px;
  top: 36px;

  &:hover {
    color: $white;
  }
}

.overlay-nav {
  height: 100%;
}

.overlay-middle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.interact {
  color: $white;
  margin: 30px auto 0;

  @include breakpoint(medium) {
    margin-top: 60px;
  }

  h1 {
    color: $white;
  }

  .contact-send {
    @include button-expand(true);

    @include breakpoint(medium) {
      margin-top: 30px;
    }
  }

  label {
    font-size: 18px;

    @include breakpoint(medium) {
      font-size: 16px;
    }

    @include breakpoint(large) {
      font-size: 18px;
    }
  }
}

.contact-captcha {
  margin-bottom: 15px;
}
