.finalizat-class {
  color: $color-complete;

  &.status {
    .block-project & {
      background: $color-complete;
    }
  }

  &.project {
    background-color: transparent;
  }

  &.filter-button {
    color: $white;
  }
}

.proiecte_in_desfasurare-class {
  color: $color-wip;

  &.status {
    .block-project & {
      background: $color-wip;
    }
  }
}

.proiect_cu_nevoie_de_voluntari-class {
  color: $color-need;

  &.status {
    .block-project & {
      background: $color-need;
    }
  }
}

.proiect_propus-class {
  color: $color-option;

  &.status {
    .block-project & {
      background: $color-option;
    }
  }
}

// TODO: fix this
.progress {
  &.step-concept {
    .progress-step {
      &:nth-child(6n+1) {
        color: $white;
        background: rgba($color-primary, .40);
      }
    }
  }

  &.step-specs {
    .progress-step {
      &:nth-child(6n+1) {
        color: $white;
        background: rgba($color-primary, .40);
      }

      &:nth-child(6n+2) {
        color: $white;
        background: rgba($color-primary, .50);
      }
    }
  }

  &.step-design {
    .progress-step {
      &:nth-child(6n+1) {
        color: $white;
        background: rgba($color-primary, .40);
      }

      &:nth-child(6n+2) {
        color: $white;
        background: rgba($color-primary, .50);
      }

      &:nth-child(6n+3) {
        color: $white;
        background: rgba($color-primary, .60);
      }
    }
  }

  &.step-develop {
    .progress-step {
      &:nth-child(6n+1) {
        color: $white;
        background: rgba($color-primary, .40);
      }

      &:nth-child(6n+2) {
        color: $white;
        background: rgba($color-primary, .50);
      }

      &:nth-child(6n+3) {
        color: $white;
        background: rgba($color-primary, .60);
      }

      &:nth-child(6n+4) {
        color: $white;
        background: rgba($color-primary, .70);
      }
    }
  }

  &.step-test {
    .progress-step {
      &:nth-child(6n+1) {
        color: $white;
        background: rgba($color-primary, .40);
      }

      &:nth-child(6n+2) {
        color: $white;
        background: rgba($color-primary, .50);
      }

      &:nth-child(6n+3) {
        color: $white;
        background: rgba($color-primary, .60);
      }

      &:nth-child(6n+4) {
        color: $white;
        background: rgba($color-primary, .70);
      }

      &:nth-child(6n+5) {
        color: $white;
        background: rgba($color-primary, .80);
      }
    }
  }

  &.step-launch {
    .progress-step {
      color: $white;

      &:nth-child(6n+1) {
        color: $white;
        background: rgba($color-primary, .40);
      }

      &:nth-child(6n+2) {
        color: $white;
        background: rgba($color-primary, .50);
      }

      &:nth-child(6n+3) {
        color: $white;
        background: rgba($color-primary, .60);
      }

      &:nth-child(6n+4) {
        color: $white;
        background: rgba($color-primary, .70);
      }

      &:nth-child(6n+5) {
        color: $white;
        background: rgba($color-primary, .80);
      }

      &:nth-child(6n) {
        color: $white;
        background: $color-primary;
      }
    }
  }
}