.proiecte_finalizate-class {
  background-color: $color-complete;

  &.project {
    background-color: transparent;
  }

  &.filter-button {
    color: $white;
  }
}

.proiecte_in_desfasurare-class {
  background-color: $color-wip;

  &.project {
    background-color: transparent;
  }
}

.proiect_cu_nevoie_de_voluntari-class {
  background-color: $color-need;

  &.project {
    background-color: transparent;
  }
}

.proiect_propus-class {
  background-color: $color-option;

  &.project {
    background-color: transparent;
  }
}

// TODO: fix this
.progress {
  &.step-specs {
    .progress-step {
      &:nth-child(7n+1) {
        color: $white;
        background: rgba($color-primary, .50);
      }
    }
  }

  &.step-publish {
    .progress-step {
      &:nth-child(7n+1) {
        color: $white;
        background: rgba($color-primary, .50);
      }

      &:nth-child(7n+2) {
        color: $white;
        background: rgba($color-primary, .60);
      }
    }
  }

  &.step-team {
    .progress-step {
      &:nth-child(7n+1) {
        color: $white;
        background: rgba($color-primary, .50);
      }

      &:nth-child(7n+2) {
        color: $white;
        background: rgba($color-primary, .60);
      }

      &:nth-child(7n+3) {
        color: $white;
        background: rgba($color-primary, .70);
      }
    }
  }

  &.step-design {
    .progress-step {
      &:nth-child(7n+1) {
        color: $white;
        background: rgba($color-primary, .50);
      }

      &:nth-child(7n+2) {
        color: $white;
        background: rgba($color-primary, .60);
      }

      &:nth-child(7n+3) {
        color: $white;
        background: rgba($color-primary, .70);
      }

      &:nth-child(7n+4) {
        color: $white;
        background: rgba($color-primary, .80);
      }
    }
  }

  &.step-develop {
    .progress-step {
      &:nth-child(7n+1) {
        color: $white;
        background: rgba($color-primary, .50);
      }

      &:nth-child(7n+2) {
        color: $white;
        background: rgba($color-primary, .60);
      }

      &:nth-child(7n+3) {
        color: $white;
        background: rgba($color-primary, .70);
      }

      &:nth-child(7n+4) {
        color: $white;
        background: rgba($color-primary, .80);
      }

      &:nth-child(7n+5) {
        color: $white;
        background: rgba($color-primary, .90);
      }
    }
  }

  &.step-launch {
    .progress-step {
      color: $white;

      &:nth-child(7n+1) {
        color: $white;
        background: rgba($color-primary, .50);
      }

      &:nth-child(7n+2) {
        color: $white;
        background: rgba($color-primary, .60);
      }

      &:nth-child(7n+3) {
        color: $white;
        background: rgba($color-primary, .70);
      }

      &:nth-child(7n+4) {
        color: $white;
        background: rgba($color-primary, .80);
      }

      &:nth-child(7n+5) {
        color: $white;
        background: rgba($color-primary, .90);
      }

      &:nth-child(7n+6) {
        color: $white;
        background: $color-primary;
      }
    }
  }

  &.step-monitor {
    .progress-step {
      color: $white;

      &:nth-child(7n+1) {
        color: $white;
        background: rgba($color-primary, .50);
      }

      &:nth-child(7n+2) {
        color: $white;
        background: rgba($color-primary, .60);
      }

      &:nth-child(7n+3) {
        color: $white;
        background: rgba($color-primary, .70);
      }

      &:nth-child(7n+4) {
        color: $white;
        background: rgba($color-primary, .80);
      }

      &:nth-child(7n+5) {
        color: $white;
        background: rgba($color-primary, .90);
      }

      &:nth-child(7n+6) {
        color: $white;
        background: $color-primary;
      }

      &:nth-child(7n) {
        color: $white;
        background: $color-primary;
      }
    }
  }
}