@mixin underline {
  color: $black;
  position: relative;
  text-decoration: none;

  &::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: $black;
  }

  &:hover {
    color: $color-primary;

    &::after {
      background: $color-primary;
    }
  }
}

@mixin underline-reset {
  color: $color-primary;
  text-decoration: underline;

  &::after {
    display: none;
  }

  &:hover {
    color: $black;
  }
}
