@mixin underline {
  color: $black;
  position: relative;

  &::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: $black;
  }

  &:hover {
    color: $color-primary;

    &::after {
      background: $color-primary;
    }
  }
}