.svg-icons {
  display: inline-block;
  width: 48px;
  height: 48px;
  position: relative;
}

.svg-time {
  background-image: url(../icons/ico-time.svg);

  &.svg-inverted {
    background-image: url(../icons/ico-time-inverted.svg);
  }
}

.svg-money {
  background-image: url(../icons/ico-money.svg);

  &.svg-inverted {
    background-image: url(../icons/ico-money-inverted.svg);
  }

  &.svg-donate {
    background-image: url(../icons/ico-money-donate.svg);
  }
}

.svg-companie {
  background-image: url(../icons/ico-companie.svg);

  &.svg-inverted {
    background-image: url(../icons/ico-companie-inverted.svg);
  }
}

.svg-universities {
  background-image: url(../icons/ico-universities.svg);

  &.svg-inverted {
    background-image: url(../icons/ico-universities-inverted.svg);
  }
}

.svg-organisations {
  background-image: url(../icons/ico-organisations.svg);

  &.svg-inverted {
    background-image: url(../icons/ico-organisations-inverted.svg);
  }
}

.svg-goverment {
  background-image: url(../icons/ico-goverment.svg);

  &.svg-inverted {
    background-image: url(../icons/ico-goverment-inverted.svg);
  }
}
