// Colors
$color-primary: #3A54A4;
$color-primary-faded: lighten(rgba($color-primary, .5), .3);

$color-complete: $color-primary;
$color-wip: #27AE60;
$color-donate: #2CB568;
$color-need: #EA4C52;
$color-option: #039bf5; //change

$color-type: #2c2c2c;

$index-hero: 100;
$index-media: 90;

$border-height: 2px;
