// Colors
$color-primary: #00f;
$color-primary-faded: lighten(rgba($color-primary, .5), .3);

$color-complete: $color-primary;
$color-wip: #e84e56;
$color-need: #ffc3af;
$color-option: #039be5; //change

$color-type: #3f3f3f;

$index-hero: 100;
$index-media: 90;

$border-height: 15px;
