.block-donate {
  background: $color-donate;

  @include breakpoint(medium) {
    padding: 0 0 40px;
  }
}

.donate-hero {
  background: $white;
  padding: 20px;
  margin: 0;
  font-size: 18px;

  @include breakpoint(medium) {
    margin-top: 40px;
    padding: 40px;
  }

  @include breakpoint(large) {
    padding: 40px 60px 40px 40px;
  }

  h1 {
    color: $color-donate;
  }

  .media-object {
    .media-object-section:last-child {
      width: 100%;
    }
  }
}

.donate-copy {
  margin-bottom: 40px;
}

.donate-count {
  font-size: 22px;
  display: block;
  width: 20px;
  text-align: center;

  @include breakpoint(medium) {
    width: 40px;
  }
}

.donate-label {
  font-size: 18px;
  margin: 0 0 20px 0;
}

.donate-input-custom {
  position: relative;
  white-space: nowrap;
  text-align: center;

  [type='text'] {
    max-width: 80px;
    display: inline-block;
  }
}

.donate-label-after {
  position: absolute;
  right: .5rem;
  top: 0;
  font-size: 18px;
  font-weight: 700;
  background: inherit;
  color: inherit;

  @include breakpoint(large) {
    font-size: 22px;
  }
}

.donate-step {
  margin: 0 0 30px;

  &:last-child {
    margin: 0;
  }

  @include breakpoint(large) {
    margin: 0 0 40px;
  }

  .row {
    @include breakpoint(medium) {
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  .columns {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.donate-option {
  position: relative;
  margin-bottom: 20px;

  @include breakpoint(medium) {
    margin: 0;
  }

  .donate-value {
    position: absolute;
    visibility: hidden;

    + label {
      border: 1px solid $color-donate;
      display: block;
      margin: 0;
      padding: 0;
      background: $white;
      color: $color-donate;
      font-size: 18px;
      font-weight: 700;
      line-height: 38px;
      text-align: center;

      @include breakpoint(large) {
        font-size: 22px;
        line-height: 58px;
      }
    }

    &:checked {
      + label {
        color: $white;
        background: $color-donate;
      }
    }
  }

  [type='number'] {
    -moz-appearance: textfield;
    background: inherit;
    border: none;
    box-shadow: none;
    font-size: 18px;
    font-weight: 700;
    color: inherit;
    margin: 0;
    height: 38px;

    &::placeholder {
      border-bottom: 2px dotted $color-donate;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    @include breakpoint(large) {
      font-size: 22px;
      height: 58px;
    }

    /* &:focus,
    &.has-value {
      box-shadow: none;
      background: $color-donate;
      color: $white;
    } */
  }
}

.donate-recurrent {
  position: relative;
  margin: -10px 0 0;

  @include breakpoint(medium) {
    margin: 10px 0 0;
  }

  [type='checkbox'] {
    position: absolute;
    visibility: hidden;

    + label {
      font-size: 16px;
      position: relative;
      line-height: 20px;
      padding-left: 30px;
      margin: 0;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        font-family: FontAwesome;
        font-size: 12px;
        text-align: center;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: $white;
        border: 1px solid $color-donate;
      }
    }

    &:checked {
      + label {
        &::before {
          content: '\f00c';
          background: $color-donate;
          color: $white;
        }
      }
    }
  }
}

.donate-person {
  [type='text'],
  [type='email'] {
    border: 1px solid $color-donate;
    box-shadow: none;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    font-size: 18px;
    color: $color-donate;
    margin: 0 0 20px;

    @include breakpoint(large) {
      height: 60px;
    }

    &:focus {
      box-shadow: none;
    }
  }
}

.donate-button {
  background: $color-donate;
  color: $white;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  width: 100%;

  &:hover {
    background: darken($color-donate, 10);
  }

  @include breakpoint(medium) {
    margin-top: -60px;
    height: 100px;
    font-size: 24px;
  }

  @include breakpoint(large) {
    height: 140px;
    margin-top: -80px;
    font-size: 36px;
  }
}

.donate-secure {
  position: relative;
  padding: 0 0 0 30px;
  margin: 20px 0 0;

  @include breakpoint(medium) {
    margin: 0;
  }

  .fa {
    color: $color-donate;
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 22px;
  }
}
