.footer {
  border-top: 1px solid $color-primary;
  background: lighten($black, 95);
  margin: 0;
  padding: 50px 0;
  text-align: center;

  .brand {
    height: 30px;
  }

  .menu {
    float: none;

    > li {
      display: inline-block;
      margin: 0 0 10px;
      padding: 0 5px;

      @include breakpoint(large) {
        padding: 0 10px;
      }

      a {
        font-size: 14px;

        &:after {
          right: 10px;
          left: 10px;

          @include breakpoint(large) {
            left: 16px;
            right: 16px;
          }
        }
      }
    }
  }

  .copy {
    color: $dark-gray;
    font-size: 12px;
    margin: 50px 0;
  }

  .brand {
    opacity: .5;

    &:hover {
      opacity: .8;
    }
  }
}

.legaleza {
  margin: 0 0 50px;
  padding: 10px 20px 20px;
}

.social {
  text-align: center;
  margin: 50px 0 0;

  > li {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: lighten($black, .75);

    > a {
      display: inline-block;
      width: 32px;
      height: 32px;
    }
  }
}

.social-thanks {
  text-align: center;
  margin-top: 40px;

  > li {
    font-size: 32px;
    margin: 0 5px;

    > a {
      width: 40px;
      height: 40px;
    }
  }
}
