.footer {
  border-top: 5px solid $color-primary;
  margin-bottom: 50px;
  padding-top: 50px;
  text-align: center;

  .menu {
    float: none;

    > li {
      display: inline-block;
      font-size: 12px;
      margin: 0;
    }
  }

  .copy {
    color: $dark-gray;
    font-size: 12px;
    margin-top: 50px;
  }
}
