header {
  background: $white;

  .is-stuck {
    border-bottom: 1px solid $light-gray;
  }

  .nav {
    margin: 6px 0 0;

    @include breakpoint(large) {
      margin: 0;
    }
  }
}

.title-bar {
  width: 100%;
}

.brancusi {
  display: inline-block;
  height: 48px;
  padding: 6px;
  width: 48px;
}

.burger {
  display: inline-block;
  float: right;
  font-size: 0;
  padding: 12px;

  .is-reveal-open & {
    display: none;
  }
}

.brand {
  display: inline-block;
  height: 40px;
  width: auto;

  @include breakpoint(large) {
    margin: 4px 0 0;
  }

  img {
    height: 100%;
  }
}

.nav {
  float: right;
}

li.menu-item {
  font-size: 16px;
  padding: 0 5px;

  @include breakpoint(large) {
    padding: 0 40px;
  }

  > a {
    @include underline;
    color: $black;
    letter-spacing: 1px;
    padding: 8px 10px;

    width: 100%;

    &:hover {
      color: $color-primary;
    }

    &::after {
      bottom: 4px;
      right: 12px;
      left: 12px;
      width: auto;

      @include breakpoint(medium) {
        right: 10px;
        left: 10px;
      }

      @include breakpoint(large) {
        bottom: 12px;
        right: 16px;
        left: 16px;
      }
    }

    @include breakpoint(medium) {
      padding: 8px 10px;
    }

    @include breakpoint(large) {
      padding: 16px;
    }
  }

  &.current-menu-item {
    > a {
      color: $color-primary;

      &::after {
        background: $color-primary;
      }
    }
  }
}

.title-bar {
  @include breakpoint(large) {
    padding: 30px;
  }
}

