.header {
  background: $white;

  .is-stuck {
    border-bottom: 1px solid $light-gray;
  }

  .nav {
    margin: 6px 0 0;

    @include breakpoint(large) {
      margin: 0;
    }
  }
}

.title-bar {
  width: 100%;
}

.brancusi {
  display: inline-block;
  height: 48px;
  padding: 6px;
  width: 48px;
}

.burger {
  display: inline-block;
  float: right;
  font-size: 24px;
  padding: 12px;

  .is-reveal-open & {
    display: none;
  }
}

.brand {
  display: inline-block;
  height: 40px;
  width: auto;

  @include breakpoint(large) {
    margin: 4px 0 0;
  }

  img {
    height: 100%;
  }
}

.nav {
  float: right;
}

li.menu-item {
  font-size: 16px;
  padding: 0;

  @include breakpoint(large) {
    padding: 0 15px;
  }

  > a {
    @include underline;
    color: $color-primary;
    letter-spacing: 1px;
    padding: 8px 10px;

    width: 100%;

    &:hover {
      color: $black;

      &::after {
        background: $black;
      }
    }

    &::after {
      bottom: 4px;
      right: 12px;
      left: 12px;
      width: auto;
      background: $color-primary;

      @include breakpoint(medium) {
        right: 10px;
        left: 10px;
      }

      @include breakpoint(large) {
        // bottom: 12px;
        // right: 16px;
        // left: 16px;
      }
    }

    @include breakpoint(medium) {
      padding: 8px 10px;
    }
  }

  &.current-menu-item {
    > a {
      color: $black;

      &::after {
        background: $black;
      }
    }
  }

  &.menu-item-152,
  &.menu-item-154 {
    > a {
      background: $color-donate;
      color: $white;
      font-weight: 700;

      &:after {
        background: $color-donate;
      }
    }
  }

  &.qtranxs-lang-menu {
    > a {
      display: none !important;
    }

    ul {
      list-style: inside none;
      margin: 0;
      padding: 0;
      text-align: center;

      a {
        padding: 0;
        font-size: 0 !important;
        width: 32px;
        height: 16px;
        display: block;

        img {
          width: auto;
          height: 24px;

          @include breakpoint(large) {
            height: 16px;
          }
        }

        &::after {
          display: none;
        }
      }
    }
  }

  &.qtranxs-lang-menu-item {
    padding: 0;
  }
}

html[lang="ro-RO"] {
  .menu {
    li.qtranxs-lang-menu-item-ro {
      display: none !important;
    }
  }
}

html[lang="en-US"] {
  .menu {
    li.qtranxs-lang-menu-item-en {
      display: none !important;
    }
  }
}

.title-bar {
  @include breakpoint(large) {
    padding: 30px;
  }
}

