.hero {
  margin: 0 auto;
  padding: 40px 0 0;
  position: relative;
  overflow: hidden;

  @include breakpoint(large) {
    margin: 0;
    padding: 0;
  }
}

.hero-content {
  position: relative;
  margin: 0 auto;
  z-index: $index-hero;

  h1 {
    @include breakpoint(medium) {
     text-align: center;
    }

    @include breakpoint(large) {
      margin-bottom: 30px;
      margin-top: 40px;
    }

    .block-hello &,
    .block-team & {
      text-align: left;
    }

    .block-project & {
      color: $white;
      margin-bottom: 0;
    }

    .block-content & {
      @include breakpoint(large) {
        margin-bottom: 30px;
      }
    }
  }

  p {
    color: $color-primary;
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 16px;

    .block-activity &,
    .block-content & {
      color: $black;
    }

    .block-text & {
      @include breakpoint(medium) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      @include breakpoint(large) {
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }

    .block-project & {
      color: $white;

      a {
        color: $white;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .block-inverted &,
    .block-inverted.block-activity &,
    .block-inverted.block-content & {
      color: $white;
    }

    .block-inverted & {
      text-align: left;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.hero-media {
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: $index-media;
  opacity: .7;

  @include breakpoint(medium) {
    opacity: 1;
    top: 0;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }
}

.action-line {
  text-align: center;

  @include breakpoint(medium) {
    text-align: left;

    .button {
      margin-left: -26px;
    }
  }

}

.actions {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;

  a {
    @include underline-reset;
  }

  .spacer {
    color: $color-primary;
    display: block;
    font-size: 18px;
    margin: 20px 0 0;

    @include breakpoint(medium) {
      display: inline-block;
      margin: 0 20px;
    }
  }

  .button {
    margin: 0;
    text-decoration: none;
  }

  .block-inverted &,
  .hero-project & {
    margin-bottom: 60px;

    @include breakpoint(medium) {
      text-align: left;
    }

    .button {
        @include breakpoint(medium) {
        margin: 0 0 0 -26px;
      }
    }
  }

  .hero-project & {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

.actions-project {
  .button {
    white-space: nowrap;
  }

  .fieldset {
    padding: 0;
    border: 0;
    margin: 0 0 60px;
  }
}

.actions-wrap {
  padding: 0;
  margin-bottom: 30px;
}

.activities {
  margin-top: 30px;
  padding: 0;

  @include breakpoint(medium) {
    margin-top: 60px;
  }
}

.activity {
  display: block;
  color: $color-primary;
  margin-bottom: 30px;

  .block-content & {
    color: $black;
  }

  .block-text & {
    margin-bottom: 0;
  }

  .block-inverted & {
    color: $white;
  }

  &:hover {
    .material-icons,
    h2 {
      color: $black;
    }

    p {
      .block-activity & {
        color: $black;
      }
    }

    h2 {
      border-bottom-color: $black;
    }

    .block-inverted & {
      h2 {
        color: $white;
      }
    }
  }

  .material-icons {
    font-size: 32px;
    position: relative;
    top: 5px;
    margin-right: 5px;
  }

  h2 {
    margin: 0;
    padding: 0 0 8px;

    @include breakpoint(large) {
      white-space: nowrap;
    }
  }

  p {
    .block-activity & {
      color: $color-primary;
      font-size: 18px;
    }

    .block-text & {
      margin-top: 0;
    }
  }
}

.project-list {
  padding: 0;
  min-height: 600px;

  .columns {
    .page-template-proiecte-template & {
      padding-left: 5px;
      padding-right: 5px;

      @include breakpoint(medium) {
        padding-left: 10px;
        padding-right: 10px;
      }

      @include breakpoint(large) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .block-inverted & {
    min-height: 0;
  }

}

.project {
  background: $white;
  display: block;
  margin: 0 0 40px;
  position: relative;

  &:hover {
    background: $white;
  }

  @include breakpoint(large) {
    margin: 0;

    .page-template-proiecte-template & {
      margin-bottom: 40px;
    }
  }

  h2 {
    color: $black;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 13px 0;
    margin: 0;

    @include breakpoint(medium) {
      font-size: 18px;
    }

    @include breakpoint(large) {
      font-size: 24px;
    }
  }

  .badge {
    position: absolute;
    left: 0;
    top: 0;
  }

  .project-org {
    color: $black;
    font-size: 14px;
    display: block;
    padding: 0 13px 20px;
  }

  .block-inverted & {
    h2,
    .project-org {
      color: $black;
    }

    &:hover {
      h2,
      .project-org {
        color: $color-primary;
      }
    }
  }
}

.badge {
  height: $border-height;
  text-indent: -9999px;
  width: 100%;
  border-radius: 0;
}

.members {
  margin-top: 40px;
}

.member {
  margin-bottom: 30px;

  p {
    font-size: 16px;

    .hero-content & {
      margin-top: 0;
    }
  }

  .media-object-section {
    img {
      width: 60px;
      border-radius: 50%;

      @include breakpoint(large) {
        width: 80px;
      }
    }
  }
}

.member-small {
  .media-object-section {
    img {
      width: 40px;

      @include breakpoint(large) {
        width: 60px;
      }
    }
  }
}

.steps {
  list-style: none inside;
  margin: 0;
  padding: 0;
}

.step {
  position: relative;
  margin: 0 0 30px;

  h2 {
    margin: 0;
    color: $color-primary;
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }
  }

  p {
    margin-top: 20px;
    margin-bottom: 20px;

    @include breakpoint(medium) {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:nth-child(2n) {

  }

  &:nth-child(2n + 1) {

  }
}

.step-no {
  font-weight: 700;
  display: block;
  height: 62px;
  line-height: 62px;
  width: 62px;
  margin: 0 auto;
  text-align: center;
  color: $color-primary;
  position: relative;

  @include breakpoint(medium) {
    margin: 0;
    display: inline-block;
    margin-left: -70px;
  }

  .material-icons {
    font-size: 35px;
    position: relative;
    top: 10px;
    left: 10px;
  }
}

.numbers,
.list {
  margin-bottom: 30px;

  li {
    font-size: 14px;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.title-team {
  font-size: 30px;
  margin-top: 30px;
}

.involvement {
  margin-top: 45px;
}

.tabs {
  border: 0;
}

.tabs-content {
  border: 0;
}

.tabs-title {
  margin-bottom: 20px;

  @include breakpoint(medium) {
    margin-bottom: 0;
  }

  > a {
    display: block;
    padding: 25px 10px;
    line-height: 1;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    background: lighten($black, 90);
    color: lighten($black, 60);

    i {
      font-size: 28px;
    }

    span {
      display: block;
      margin-top: 5px;
      font-size: 18px;
    }

    &:hover {
      background: lighten($black, 90);
      color: lighten($black, 60);
    }

    &:focus,
    &[aria-selected=true] {
      background: $color-primary;
      color: $white;
    }

    @include breakpoint(medium) {
      text-align: left;
      padding: 25px 16px;
    }
  }
}

.tabs-panel {
  padding: 16px 10px;

  @include breakpoint(medium) {
    padding: 16px;
  }
}

.hero-project {
  h1 {
    text-align: left;
    margin-top: 20px;

    @include breakpoint(medium) {
      margin-top: 40px;
    }

  }
  .media-object-section {
    display: block;

    &:first-child {
      padding-right: 0;

      @include breakpoint(medium) {
        padding-right: 30px;
      }

      @include breakpoint(large) {
        padding-right: 60px;
      }
    }

    img {
      max-width: 100%;

      @include breakpoint(medium) {
        max-width: 200px;
      }
    }

    @include breakpoint(medium) {
      display: table-cell;
    }
  }
}

.project-owner {
  display: block;
  font-size: 18px;
  text-align: left;
  line-height: 1;
  margin-bottom: 20px;
}

.ui-help {
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: 45rem) {
    display: none;
  }

  .material-icons {
    font-size: 16px;
    color: lighten($black, 60);
  }
}

.progress-wrap {
  display: table;
  width: 100%;
}

.progress {
  background: lighten($black, 90);
  height: auto;
  margin: 0;
  list-style: inside none;
  display: table-row;

  > li {
    display: table-cell;
    position: relative;
    width: (100%/9);
  }
}

.progress-step {
  vertical-align: top;
  text-align: left;
  padding: 15px;
  width: (100%/9);

  &.step-past {
    background: $color-primary;
    color: $white;

    &:nth-child(7n+1) {
      background: rgba($color-primary, .50);
    }

    &:nth-child(7n+2) {
      background: rgba($color-primary, .60);
    }

    &:nth-child(7n+3) {
      background: rgba($color-primary, .70);
    }

    &:nth-child(7n+4) {
      background: rgba($color-primary, .80);
    }

    &:nth-child(7n+5) {
      background: rgba($color-primary, .90);
    }

    &:nth-child(7n+6) {
      background: rgba($color-primary, 1);
    }

    &:nth-child(7n) {
      background: rgba($color-primary, 1);
    }
  }
}

.progress-no {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;

  .step-past & {
    // background: $color-primary;
    color: $white;
  }
}

.progress-state {
  font-size: 14px;
  line-height: 1.23;
  // display: none;

  .step-active & {
    // position: absolute;
    // display: block;
    // left: 15px;
  }
}

