.hero {
  margin: 40px auto 0;
  position: relative;
  overflow: hidden;

  @include breakpoint(large) {
    margin: 0;
  }
}

.hero-content {
  position: relative;
  margin: 0 auto;
  z-index: $index-hero;

  h1 {
    @include breakpoint(medium) {
      text-align: center;
      margin-bottom: 40px;
      margin-top: 60px;
    }

    @include breakpoint(xlarge) {
      margin-bottom: 90px;
      margin-top: 120px;
    }
  }

  p {
    color: $color-primary;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 16px;

    @include breakpoint(medium) {
      font-size: 20px;
    }
  }
}

.hero-media {
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: $index-media;
  opacity: .7;

  @include breakpoint(medium) {
    opacity: 1;
    top: 0;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }
}


.actions {
  text-align: center;

  @include breakpoint(medium) {
    margin-top: 30px;
  }

  a {
    @include underline-reset;
  }

  span {
    color: $color-primary;
    display: block;
    font-size: 18px;
    margin: 20px 0 0;

    @include breakpoint(medium) {
      display: inline-block;
      margin: 0 20px;
    }
  }

  .button {
    margin: 0;
    text-decoration: none;
  }

  .block-inverted & {
    margin-top: 0;
    margin-bottom: 60px;

    @include breakpoint(medium) {
      text-align: left;
    }

    .button {
        @include breakpoint(medium) {
        margin: 0 0 0 -26px;
      }
    }
  }
}

.activities {
  margin-top: 30px;
  padding: 0;

  @include breakpoint(medium) {
    margin-top: 60px;
  }

  @include breakpoint(large) {
    margin-top: 120px;
  }
}

.activity {
  display: block;
  color: $color-primary;
  margin-bottom: 30px;

  &:hover {
    .material-icons,
    h2,
    p {
      color: $black;
    }

    h2 {
      border-bottom-color: $black;
    }
  }

  .material-icons {
    font-size: 32px;
    position: relative;
    top: 5px;
    margin-right: 5px;
  }

  h2 {
    margin: 0;
    padding: 0 0 8px;
    border-bottom: 1px solid $color-primary;

    @include breakpoint(large) {
      white-space: nowrap;
    }
  }

  p {
    font-size: 18px;
  }
}

.project {
  display: block;
  margin: 0 0 40px;
  position: relative;

  &:hover {
    background: $white;

    h2 {
      color: $color-primary;
    }
  }

  @include breakpoint(large) {
    margin: 0;
  }

  h2 {
    color: $color-primary;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 13px 0;
    margin: 0;

    @include breakpoint(medium) {
      font-size: 18px;
    }

    @include breakpoint(large) {
      font-size: 24px;
    }
  }

  .badge {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .project-org {
    color: $color-primary;
    font-size: 14px;
    display: block;
    padding: 0 13px 20px;
  }
}


.badge {
  height: 30px;
  text-indent: -9999px;
  width: 30px;
}

