.hero {
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;

  @include breakpoint(large) {
    margin: 0;
    padding: 0;
  }
}

.hero-content {
  position: relative;
  margin: 0 auto;
  z-index: $index-hero;
  padding-top: 30px;

  h1 {
    @include breakpoint(medium) {
     text-align: center;
    }

    @include breakpoint(large) {
      margin-bottom: 30px;
      margin-top: 40px;
    }

    .block-hello & {
      text-align: left;
    }

    .block-project & {
      // color: $white;
      margin-bottom: 0;
    }

    .block-content & {
      @include breakpoint(large) {
        margin-bottom: 30px;
      }
    }

    .block-donate & {
      color: $white;
    }
  }

  p {
    color: $color-primary;
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 16px;

    &.thanks {
      font-size: 18px;

      @include breakpoint(medium) {
        text-align: center;
      }
    }

    .block-activity &,
    .block-content & {
      color: $black;
    }

    .block-text & {
      @include breakpoint(medium) {
        margin-top: 20px;
        margin-bottom: 20px;
      }

      @include breakpoint(large) {
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }

    .block-project & {
      // color: $white;

      a {
        // color: $white;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .block-inverted &,
    .block-inverted.block-activity &,
    .block-inverted.block-content & {
      color: $white;
    }

    .block-inverted & {
      text-align: left;
    }

    .block-identity & {
      @include breakpoint(medium) {
        margin-top: 15px;
        margin-bottom: 16px;
      }

      @include breakpoint(large) {
        margin-top: 15px;
        margin-bottom: 16px;
      }
    }

    .block-donate & {
      color: $white;
      font-size: 18px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.hero-media {
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: $index-media;
  opacity: .4;

  @include breakpoint(medium) {
    opacity: 1;
    top: 0;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }
}

.action-line {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.actions {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;

  a {
    @include underline-reset;
  }

  .spacer {
    color: $color-primary;
    display: block;
    font-size: 18px;
    margin: 20px 0 0;

    @include breakpoint(medium) {
      display: inline-block;
      margin: 0 20px;
    }
  }

  .button {
    margin: 0;
    text-decoration: none;
  }

  .block-inverted &,
  .hero-project & {
    margin-bottom: 60px;

    @include breakpoint(medium) {
      text-align: left;
    }

    .button {
        @include breakpoint(medium) {
        margin: 0 0 0 -26px;
      }
    }
  }

  .hero-project & {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

.actions-project {
  .button {
    white-space: nowrap;
  }

  .fieldset {
    padding: 0;
    border: 0;
    margin: 0 0 60px;
  }
}

.actions-wrap {
  padding: 0;
  margin-bottom: 30px;
}

.activities {
  margin-top: 30px;
  padding: 0;

  .svg-icons {
    top: 17px;
  }

  @include breakpoint(medium) {
    margin-top: 60px;
  }
}

.activity {
  display: block;
  color: $black;
  margin-bottom: 30px;

  .block-content & {
    color: $black;
  }

  .block-text & {
    margin-bottom: 0;
  }

  .block-inverted & {
    color: $white;
  }

  h2 {
    margin: 0;
    padding: 0 0 8px;
    color: $color-primary;
    white-space: nowrap;

    .block-activity & {
      font-size: 20px;
    }

    span {
      .block-activity & {
        margin-right: 5px;
      }
    }
  }

  p {
    .block-activity & {
      color: $black;
      font-size: 18px;
    }

    .block-text & {
      margin-top: 0;
    }
  }
}

.project-type {
  margin-bottom: 30px;
  font-size: 32px;
}

.project-list {
  padding: 0;
  min-height: 100px;

  .columns {
    .page-template-proiecte-template & {
      padding-left: 5px;
      padding-right: 5px;

      @include breakpoint(medium) {
        padding-left: 10px;
        padding-right: 10px;
      }

      @include breakpoint(large) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .block-inverted & {
    min-height: 0;
  }

}

.hero-description {
  font-size: 18px;

  p {
    font-size: 18px;
  }
}

.project {
  background: $white;
  display: block;
  margin: 0 0 40px;
  position: relative;

  &:hover {
    background: $white;

    img {
      border: 1px solid lighten($black, 50);
    }
  }

  @include breakpoint(large) {
    margin: 0;

    .page-template-proiecte-template & {
      margin-bottom: 40px;
    }
  }

  img {
    border: 1px solid lighten($black, 80);
    width: 100%;

    .hero-content & {
      border: none;
    }
  }

  h2 {
    color: $black;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    padding: 10px 13px 5px;
    margin: 0;

    @include breakpoint(medium) {
      font-size: 22px;
      line-height: 24px;
    }

    @include breakpoint(large) {
      font-size: 24px;
      line-height: 26px;
    }
  }

  .badge {
    // position: absolute;
    // left: 0;
    // top: -15px;
    // z-index: 1;
  }

  .project-org {
    color: $black;
    font-size: 14px;
    display: block;
    padding: 0 13px 15px;
  }

  .block-inverted & {
    h2,
    .project-org {
      color: $black;
    }

    @include breakpoint(large) {
      img {
        filter: grayscale(100%);
        border: none;
      }
    }

    &:hover {
      h2,
      .project-org {
        color: $color-primary;
      }

      @include breakpoint(large) {
        img,
        .badge {
          filter: grayscale(0);
        }
      }
    }
  }
}

.badge {
  // height: $border-height;
  // text-indent: -9999px;
  // width: 100%;
  // border-radius: 0;
}

.members {
  margin-top: 40px;
  margin-bottom: 20px;
}

.members-all {
  margin-bottom: 60px;
}

.member {
  margin-bottom: 0;
  height: 160px;

  @include breakpoint(medium) {
    margin-bottom: 30px;
    height: 80px;
  }

  h3 {
    margin-bottom: 0;

    @include breakpoint(medium) {
      margin-bottom: 4px;
    }
  }

  p {
    font-size: 16px;

    .hero-content & {
      margin-top: 0;
    }
  }

  .media-object-section {
    position: relative;
    display: block;

    &:first-child {
      position: relative;
    }

    @include breakpoint(medium) {
      display: table-cell;
    }

    img {
      width: 80px;
      margin-bottom: 10px;
      border-radius: 50%;

      @include breakpoint(medium) {
        margin-bottom: 0;
      }
    }
  }
}

.member-social {
  background: $color-primary;
  color: $white;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  line-height: 32px;
  position: absolute;
  top: 0;
  left: 60px;

  &:hover,
  &:focus {
    color: $color-primary;
    background: $white;
  }
}

.steps {
  list-style: none inside;
  margin: 0;
  padding: 0;
}

.step {
  position: relative;
  margin: 0 0 30px;

  h2 {
    margin: 0;
    color: $color-primary;
    text-align: center;

    @include breakpoint(medium) {
      text-align: left;
    }
  }

  p {
    margin-top: 20px;
    margin-bottom: 20px;

    @include breakpoint(medium) {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.step-no {
  font-weight: 700;
  display: block;
  height: 62px;
  line-height: 62px;
  width: 62px;
  margin: 0 auto;
  text-align: center;
  color: $color-primary;
  position: relative;

  @include breakpoint(medium) {
    margin: 0;
    display: inline-block;
    margin-left: -70px;
  }
}

.numbers,
.list {
  margin-bottom: 30px;

  li {
    font-size: 16px;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.involvement {
  margin-top: 30px;
}

.banks {
  h2 {
    font-size: 26px;
  }
}

.involve {
  margin-bottom: 30px;
  margin-top: 20px;

  @include breakpoint(large) {
    padding: 20px 25px;
    margin-bottom: 0;
  }

  h2 {
    color: $color-primary;
    font-size: 24px;
    margin-top: -10px;
    margin-bottom: 25px;

    span {
      display: inline-block;
    }
  }

  .svg-icons {
    position: relative;
    top: 14px;
    margin-right: 5px;
  }

  p {
    &:last-child {
      margin: 0;
      text-align: center;

      @include breakpoint(medium) {
        text-align: left;
      }
    }
  }

  .button {
    margin-bottom: 0;

    @include breakpoint(medium) {
      margin-left: -26px;
    }
  }

  &.tabs {
    .svg-icons {
      top: 0;
      margin-right: 0;
    }
  }
}

.involve-action {
  color: $white;
  padding: 20px 15px;

  @include breakpoint(medium) {
    padding: 20px 25px;
  }

  p {
    font-size: 18px;
  }

  h2 {
    color: $white;
  }

  a {
    color: $white;
    text-decoration: underline;
  }
}

.involve-time {
  background: $color-primary;
}

.involve-money {
  background: $color-donate;
}

.hero-project {
  h1 {
    text-align: left;
    margin-top: 20px;

    @include breakpoint(medium) {
      margin-top: 40px;
    }

  }
  .media-object-section {
    display: block;

    &:first-child {
      padding-right: 0;

      @include breakpoint(medium) {
        padding-right: 30px;
      }

      @include breakpoint(large) {
        padding-right: 60px;
      }
    }

    img {
      max-width: 100%;
      width: 100%;

      @include breakpoint(medium) {
        max-width: 200px;
        width: auto;
      }
    }

    @include breakpoint(medium) {
      display: table-cell;
    }
  }
}

.hero-project {
  background: $white;
  margin: 0 0 30px;
}

.project-owner {
  display: block;
  font-size: 18px;
  text-align: left;
  line-height: 1;
  margin-bottom: 20px;
}

.ui-help {
  text-align: center;
  margin-bottom: 20px;

  @media screen and (min-width: 50rem) {
    display: none;
  }

  .fa {
    font-size: 20px;
    margin: 0 3px;
    color: lighten($black, 60);
  }
}

.progress-wrap {
  display: table;
  width: 100%;
  margin: 0;
}

.progress {
  background: lighten($black, 90);
  height: auto;
  margin: 0;
  list-style: inside none;
  display: table-row;
}

.progress-step {
  vertical-align: top;
  text-align: left;
  padding: 30px 15px;
  width: (100%/7);
}

.progress-no {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
}

.progress-state {
  font-size: 16px;
  line-height: 1.23;
}

.owner {
  color: $black;
  padding: 15px;
  margin: 0 0 40px;

  img {
    width: 80px;

    @include breakpoint(medium) {
      width: 100px;
    }
  }

  h2 {
    font-size: 18px;

    span {
      display: block;
      font-weight: 400;
      margin-bottom: 6px;
    }
  }
}

.owner-budget {
  font-size: 16px;
  @include underline-white();
}

.purpose-intro {
  p {
    .block-inverted & {
      text-align: center;
      font-size: 20px;
    }
  }
}

.purpose {
  text-align: center;
  margin-top: 20px;

  .fa {
    font-size: 42px;
    margin-bottom: 10px;
  }
}

.scope {
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-git {
  color: $white;
  font-size: 16px;
  display: inline-block;
  margin: 10px 0 0;
  letter-spacing: 0;

  .fa {
    font-size: 24px;
    position: relative;
    top: 3px;
  }

  &:focus,
  &:hover {
    color: $white;
  }
}

.meta-project {
  margin-bottom: 40px;
}

.social-project {
  text-align: left;
  margin: 0;

  > li {
    margin: 0 10px 10px 0;
  }

  .social-icon {
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    color: $white;

    &:hover {
      background: $color-primary;
    }
  }
}

.social-facebook {
  background: #3b5998;
}

.social-twitter {
  background: #1da1f2;
}

.social-google-plus {
  background: #d73d32;
}

.social-linkedin {
  background: #287bbc;
}

.partner {
  display: block;
  border: 1px solid lighten($black, 80);
  padding: 20px;
  margin-bottom: 20px;

  @include breakpoint(medium) {
    margin-bottom: 30px;
  }

  &:hover {
    border-color: lighten($black, 50);
  }
}

.partners {
  margin: 0 0 40px;

  h2 {
    margin: 0 0 20px;
  }

  &.press {
    .partner {
      @include breakpoint(large) {
        border: none;
      }

      img {
        opacity: .4;
      }

      &:hover {
        img {
          opacity: .9;
        }
      }
    }
  }
}

.easter {
  color: $black;
  border-bottom: 1px dotted lighten($black, 90);
}

.donate {
  margin-bottom: 40px;

  h2 {
    color: $color-donate;
    margin-bottom: 41px;
  }
}

// .donate-option {
//   margin: 0 0 60px;

//   @include breakpoint(large) {
//     margin-top: -17px;
//   }

//   > img {
//     height: 30px;
//   }

//   .img-button {
//     height: 70px;
//     margin-left: -26px;
//   }
// }

// .donate-cta {
//   margin: 0 0 0 -26px;
//   position: relative;

//   .button-ui {
//     display: none;

//     @include breakpoint(medium) {
//       width: 32px;
//       position: absolute;
//       left: -17px;
//       display: inline-block;
//     }
//   }
// }

// .donate-info {
//   img {
//     height: 30px;
//     width: auto;
//     margin-bottom: 20px;
//     display: block;
//   }
// }

// .dontate-intro {
//   margin-bottom: 30px;
// }

// .donate-action {
//   .block & {
//     font-size: 26px;
//     margin: 0;
//   }

//   span {
//     display: inline-block;
//   }

//   .button {
//     padding: 0 5px;
//     margin: 0;
//     line-height: 1;
//     display: inline;
//     top: -3px;

//     &:after {
//       bottom: -2px;
//       left: 5px;
//       right: 5px;
//     }
//   }
// }

.team-top {
  @include breakpoint(medium) {
    text-align: center;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 0;
  }

  .button {
    margin-bottom: 0;
    margin-left: -26px;

    @include breakpoint(medium) {
      margin-left: 0;
    }
  }

  &.press {
    h2 {
      font-size: 26px;
    }
  }
}
